@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background 0.2s linear;
}

body.dark {
    background-color: rgb(41, 41, 41);
}

.navbar {
    box-shadow:1px 1px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo menu contrast-menu";
    width: 100%;
    height: 8vh;
    padding: 0 10px;
    background-color: white;
}

.navlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo;
    width: 100%;
    height: 8vh;
}

.logo img {
    max-height: 50px;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: menu;
    width: 100%;
    height: 8vh;
}

.navmenu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navmenu ul li {
    display: inline;
}

.navmenu ul li a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 2px 30px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.contrast-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-image: linear-gradient(to right,rgb(110, 184, 83),rgb(83, 142, 58));
    box-shadow:0 2px 1px, 30%;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    position:relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    transform: scale(1.2);
}

.ball {
    width: 22px;
    height: 22px;
    border-radius:50%;
    top: 2px;
    left: 2px;
    background-color: white;
    position: absolute;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}