.navmain h4,
p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 2px 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.navmain h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3%;
    color: white;
    text-decoration: none;
}

.navmain a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 2px 30px;
    display: inline-block;
    color: black;
    background-color: white;
    text-decoration: none;
}

main {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    border: 10px solid white;
    margin: 3%;
}

.flex-item-left {
    padding: 10px;
    flex: 30%;
    border-right: 2px solid white;
}

.flex-item-right {
    padding: 10px;
    flex: 70%;
}

@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}