body.dark footer p {
    color: black;
}

body.dark .secaoSobre h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 75px;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    padding-left: 3%;
    padding-right: 3%;
}

body.dark .cabecalho-sobre h2 {
    color: white;
}

body.dark .corpo-perfil h3 {
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto Slab';
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 4%;
}

body.dark .corpo-perfil h4 {
    color: white;
}

body.dark .sobre-right button {
    color: black;
    background-color: white;
}

.secaoSobre h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 75px;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    padding-left: 3%;
    padding-right: 3%;
    color: #7ed45f;
}

.secaoSobre p {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab';
    padding-left: 20%;
    padding-right: 20%;
}

.sobre {
    margin-left: 15%;
    margin-right: 15%;
}

.cabecalho-sobre {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.cabecalho-sobre>div {
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.cabecalho-sobre h2 {
    font-size: 80px;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    text-align: center;
    color: #7ed45f;
}

.cabecalho-sobre .sobre-left {
    padding-left: 6px;
    padding-right: 6px;
    flex: 40%;
}

.sobre-right button {
    background-color: #559140fa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    padding: 20px 50px;
    cursor: pointer;
    margin-bottom: 5%;
}

.sobre-right h3 {
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto Slab';
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 4%;
}

.sobre-right p {
    text-align: justify;
    font-size: 35px;
    font-family: 'Roboto Slab';
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.cabecalho-sobre .sobre-right {
    padding-left: 6px;
    padding-right: 6px;
    flex: 60%;
}

.sobre .cabecalho-sobre .image-perfil img {
    padding-top: 8%;
    width: 45%;
    padding-left: 6px;
    padding-right: 6px;
}

.icon-perfil img {
    width: 30%;
}