@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
}

*,
 :focus {
    outline: 0;
}

*,
::after,
 ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

html {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    line-height: 1;
}

body.dark {
    background: rgb(26, 26, 26);
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.nav {
    box-shadow: 0 0 2px #999;
    position: fixed;
    left: 0;
    transition: .6s ease-in-out;
    width: 100%;
    z-index: 60;
    background-color: #fff;
}

.nav nav {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .nav nav {
        display: grid;
        grid-template-columns: 200px 1fr;
    }
}

.nav-menu {
    background-color: white;
    display: grid;
    font-family: 'Robot Slab', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    grid-template-areas: "... logo menu";
    grid-template-columns: 1fr 3fr 1fr;
    height: 90px;
    padding: 0 10px;
    z-index: 10;
}

@media screen and (min-width: 1103px) {
    .nav-menu {
        font-size: 12px;
        grid-template-areas: "logo menu menu";
        grid-template-columns: 130px 1fr 1fr;
        padding: 0 20px;
    }
}

.zmdi-hc-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
}

.icon-burger {
    color: #1d1d1d;
    padding: 8px;
    width: 100%;
    height: 100%;
    padding-top: 9px;
    margin-bottom: 6px;
}

@media screen and (min-width: 1103px) {
    .icon-burger-tablet {
        display: none;
    }
}

.nav-menu .gridLogo {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    grid-area: logo;
    -ms-flex-pack: center;
    justify-content: center;
}

.logo img {
    max-height: 50px;
}

.nav-menu-desktop {
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: none;
}

@media screen and (min-width: 1103px) {
    .nav-menu-desktop {
        display: -ms-inline-flexbox;
        display: inline-flex;
        justify-content: center;
    }
}

.menu-desktop {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@media screen and (min-width: 928px) {
    .menu-desktop {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .menu-desktop {
        padding-left: 0;
    }
}

.nav-text-desktop {
    width: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 16px;
    padding: 21px 50px;
}

.nav-text-desktop a {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navcontrast {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.navfontsize {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.navfontsize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

.navfontsize li {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
}

#aumentar-fonte {
    font-family: 'Roboto Slab';
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 700;
}

#diminuir-fonte {
    font-family: 'Roboto Slab';
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.navfontsize button {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #6EB853, #4c8637);
    cursor: pointer;
}

.section-nav.active-nav {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.section-nav {
    padding: 24px;
    background-color: #6EB853;
    width: 95%;
    max-width: 360px;
    height: 100%;
    z-index: 200;
    position: fixed;
    overflow: auto;
    -ms-transform: translate(-101%, 0);
    transform: translate(-101%, 0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

@media screen and (min-width: 1103px) {
    .section-nav {
        display: none;
    }
}

.title-section-nav {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.title-menu-nav {
    width: 55px;
    height: 24px;
    margin-right: 162px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.icon-close-menu {
    width: 30px;
    font-size: 28px;
}

.section-nav li {
    position: static;
    margin-left: 0;
}

.li-menu-nav {
    border-bottom: 1px solid #fff;
    cursor: pointer;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: static;
    margin-left: 0;
}

.li-menu-nav a {
    font-family: 'Roboto Slab';
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.li-menu {
    width: 100%;
    min-height: 46px;
    color: #fff;
    transition: .6s;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 12px;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: linear-gradient(to right, #6EB853, #4c8637);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.0);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body .container-main {
    position: relative;
    z-index: 1;
    min-height: calc(100vh-90px);
}

.content {
    padding-top: 90px;
}

.content {
    min-height: calc(100vh-90px);
}

.container-main {
    min-height: 100%;
    width: 100%;
}

main {
    display: block;
}

.text-black {
    color: #1d1d1d;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.relative {
    position: relative;
}

.bg-gama-black {
    background-color: #1d1d1d;
}

.heroCarousel {
    display: block;
    width: 100%;
    object-fit: cover;
    left: 0;
}

.w-full {
    width: 100%;
}

.heroCarouselElement {
    height: calc(100vh - 90px);
}

.heroCarouselElement picture {
    display: flex;
    justify-content: center;
    height: inherit;
    z-index: 5;
    object-fit: cover;
}

.w-screen {
    width: 100vw;
}

.absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-container-sejabemvindo {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #6eb853, #569240);
}

.flex-container-titulo-sejabemvindo {
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

.flex-container-frase-sejabemvindo {
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 80px;
}

.flex-container-sejabemvindo h1 {
    font-family: 'Roboto Slab';
    font-size: 55px;
    text-align: center;
    color: white;
}

.flex-container-sejabemvindo p {
    font-family: 'Roboto Slab';
    font-size: 35px;
    text-align: center;
    color: white;
}

.flex-container-noticias {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
}

.flex-container-titulo-noticias {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-container-titulo-noticias h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #4c8637;
}

.flex-container-section-noticias {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex-container-area-noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.cabecalho-noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.cabecalho-noticia h3 {
    font-family: 'Roboto Slab';
    font-size: 30px;
    text-align: center;
    color: black;
}

.cabecalho-noticia p {
    font-family: 'Roboto Slab';
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 30px;
    transition: height .4s;
}

.cabecalho-noticia img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media screen and (min-width:1000px) {
    .cabecalho-noticia img {
        max-width: 1000px;
    }
    .cabecalho-noticia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        width: 100%;
    }
    .cabecalho-noticia h3 {
        font-family: 'Roboto Slab';
        font-size: 30px;
        text-align: center;
        color: black;
    }
    .cabecalho-noticia p {
        font-family: 'Roboto Slab';
        font-size: 20px;
        text-align: center;
        color: black;
        margin-top: 30px;
        transition: height .4s;
    }
    .cabecalho-noticia img {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    @media screen and (min-width:1000px) {
        .cabecalho-noticia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
            width: 100%;
        }
        .cabecalho-noticia h3 {
            font-family: 'Roboto Slab';
            font-size: 30px;
            text-align: center;
            color: black;
            padding: 0 17%;
        }
        .cabecalho-noticia p {
            font-family: 'Roboto Slab';
            font-size: 20px;
            text-align: justify;
            color: black;
            margin-top: 30px;
            transition: height .4s;
            padding: 0 17%;
        }
        .cabecalho-noticia img {
            display: flex;
            max-width: 60vw;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-left: 17%;
        }
        .cabecalho-noticia button {
            background: linear-gradient(to right, #6EB853, #5ea744);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 150px;
            margin-left: 17%;
        }
        .cabecalho-noticia button {
            font-family: 'Roboto';
            font-size: 20px;
            text-transform: uppercase;
            color: white;
        }
        .corpo-noticia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
            width: 100%;
            padding: 0 17%;
        }
    }
    .cabecalho-noticia button {
        background: linear-gradient(to right, #6EB853, #5ea744);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 150px;
    }
    .cabecalho-noticia button {
        font-family: 'Roboto';
        font-size: 20px;
        text-transform: uppercase;
        color: white;
    }
}

.cabecalho-noticia button {
    background: linear-gradient(to right, #6EB853, #5ea744);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
}

.cabecalho-noticia button {
    font-family: 'Roboto';
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.corpo-noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.corpo-noticia iframe {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.corpo-noticia p {
    font-family: 'Roboto Slab';
    font-size: 20px;
    text-align: flex-start;
    color: black;
    margin-top: 30px;
    text-align: justify;
}

.corpo-noticia h3 {
    font-family: 'Roboto Slab';
    font-size: 25px;
    text-align: center;
    color: black;
    padding-top: 30px;
}

body.dark h1,
h2 {
    font-family: 'Roboto Slab';
    font-size: 60px;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

body.dark h3 {
    font-family: 'Roboto Slab';
    font-size: 30px;
    text-align: center;
    color: white;
}

h1,
h2 {
    font-family: 'Roboto Slab';
    font-size: 2.25rem;
    color: #33383c;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

body.dark p {
    color: white;
}

div.linha-vertical {
    padding: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

div.linha-vertical {
    padding: .5em 0;
    border-bottom: 2px solid rgb(189, 189, 189);
}

.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background: #6eb853;
}

body.dark footer p {
    color: rgb(26, 26, 26);
}

.footer p {
    font-family: 'Roboto Slab';
    font-size: 16px;
    text-align: center;
    margin: 20px;
    color: #1d1d1d;
}

.footer-img {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    justify-content: center;
    width: 100%;
}

.footer-img img {
    padding: 10px;
}